.CardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Card{
    margin: 1rem;
    max-width: 18rem;
}
.Header{
    padding: 0;
    height: 50%;
    background-color: #e5e2e2;
}
.Body{
    background-color: white;
    padding: 1rem;
    min-height: 9rem;
    color: #161637;
    padding-top: 0.1rem;
}

@media (min-width: 500px) {
    .CardContainer{
        flex-direction: row;
    }
    .Card{
        margin: 0 2rem;
        min-width: 18rem;
    }
}