.CardPhoto{
    display: flex;
    justify-content: center;
}

.CardPhoto img{
    max-width: 90%;
}

@media (min-width: 1000px) {
    .CardPhoto img{
        display: block;
        width: 990px;
    }
}
