.ApplicationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ApplicationPhoto img{
    max-width: 90%;
}

@media (min-width: 600px) {
    .ApplicationContainer{
        flex-direction: row;
    }
}
